$black: #000000;
$dark-50: #353535;
$dark-100: #151515;
$text: #3e3e3e;
$white: #ffffff;

$gray-200: #f2f2f2;
$gray-300: #edeef2;
$gray-400: #f7f7f7;
$gray-500: #e0e0e0;
$gray-600: #959595;
$gray-700: #d0d0d0;
$gray-800: #ececec;

$primary: #ff64ae;
$primary-50: #ffeaf4;
$primary-100: #ffe3f1;
$primary-300: #e42f86;

$peach: #e8c2af;