// Глобальные стили
@import "colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
}

button,
button:active,
button:focus {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  max-width: 1280px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn-primary {
  color: $white;
  padding: 12px 30px;
  background-color: $primary;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary, 4%);
  }

  &:active {
    background-color: darken($primary, 4%);
  }
}

.btn-secondary {
  color: $black;
  border: 1px solid $primary;
  background-color: $white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  vertical-align: center;

  &:hover {
    background-color: $primary;
    color: $white;
  }

  &:active {
    background-color: darken($primary, 4%);
  }

  &:focus {
    border: 1px solid $primary;
  }
}

.product-grid {
  width: 100%;
  display: grid;
  gap: 40px 30px;
  grid-template-columns: repeat(4, 1fr);
}

// produsct-card
.product-item {
  position: relative;
  overflow: hidden;
  min-height: 470px;
  padding: 20px;
  background: $white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  line-height: 20px;
  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__sale,
  &__new {
    position: absolute;
    left: 25px;
    top: 22px;
    padding: 0px 13px;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    background-color: $primary-300;
    border-radius: 7px;
  }

  .item-props {
    position: absolute;

    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;

    &__icon {
      appearance: none;
    }

    &__favorites {
      cursor: pointer;

      &:hover path {
        fill: $primary;
      }
    }

    &__comparison {
      cursor: pointer;

      &:hover path {
        fill: $primary;
      }
    }

    &__favorites-icon:checked + svg path {
      fill: $primary;
    }

    &__comparison-icon:checked + svg path {
      fill: $primary;
    }
  }

  &__img {
    display: block;
    width: 184px;
    height: 176px;
    margin: 15px auto 20px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    max-width: 260px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $black;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $gray-600;
    margin-bottom: 15px;
  }

  &__btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}

.item-price {
  color: $text;
  font-weight: 700;
  margin-bottom: 16px;

  &__current {
  }

  &__old {
    font-size: 16px;
    font-weight: 400;
    color: $gray-700;
    text-decoration: line-through;
    margin-left: 12px;
  }
}
// produsct-card

.all__stroke {
  position: absolute;
  top: 62px;
  right: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  color: $gray-600;
  border-bottom: 1px solid $gray-600;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: $primary;
    border-bottom: none;
  }
}

.item-props__icon {
  appearance: none;
}

.item-props__favorites-icon:checked + svg path {
  fill: $primary;
}

.item-props__comparison-icon:checked + svg path {
  fill: $primary;
}
