.bestsellers {

	&__inenr {
		position: relative;
		margin: 130px 0px 0px 0px;
	}

	&__title {
		margin: 0px 0px 70px 0px;
		text-transform: uppercase;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}